body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}


header {
    background: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}


.contenedor {
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    box-shadow: 0 0 10px #ccc;
}


.foto {
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


.texto p {
    font-size: 18px;
    line-height: 1.5em;
}
